[submodule "thirdy/QuickQanava"]
	path = thirdy/QuickQanava
	url = https://github.com/cneben/QuickQanava
[submodule "thirdy/vcpkg"]
	path = thirdy/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "thirdy/doxygen-awesome-css"]
	path = thirdy/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "thirdy/rosboard"]
	path = thirdy/rosboard
	url = https://github.com/dheera/rosboard.git
[submodule "thirdy/dynamic_message_introspection"]
	path = thirdy/dynamic_message_introspection
	url = https://github.com/osrf/dynamic_message_introspection.git
